<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.meatpeople.meatpeople" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:name=".MeatPeopleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MyActivity"
            android:label="@string/title_activity_my" >
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:launchMode="standard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserDetailsActivity"
            android:label="@string/title_activity_user_details" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".EventList"
            android:label="@string/title_activity_event_list" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            android:name=".EventDetails"
            android:label="@string/title_activity_event_details"
            android:parentActivityName=".MainPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meatpeople.meatpeople.MainPage" />
            android:name=".EventDetails"
            android:label="@string/title_activity_event_details"
            android:parentActivityName=".MainPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.meatpeople.meatpeople.MainPage" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
